
  #container {
    position: relative;
    width:100%;
    float: left;
  }

  #chart_base {
    position: relative;
    top: 0px;
    left: 0px;
    width: 300px;                       /* option chart_width after runtime */
    height: 300px;                      /* option chart_height after runtime */
    border: 1px solid black;
    background-color: whitesmoke;       /* option chart_backcolor */
    text-align: center;
  }

  #bars {
    position: relative;
    margin: auto;
    width: 50px;                        /* calculated with chart_width parameter */
    height: 30px;                       /* calculated with chart_width and quantity parameters */
    padding: 0px;
  }

  table {
    border: 0px solid black;
    height:100%;
  }

  #y {
    width: 10%;
    height:300px;                       /* hoption chart_height after runtime */
    background-color: silver;           /* option y_backcolor */
    text-align: right;
  }

  #x {
    width: 300px;                       /* option chart_width after runtime */
    background-color: grey;             /* option x_backcolor */
  }

